html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1 {
    color: #440044;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main-container button {
    background-color: #440044;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 150px;
    text-align: center;
}

.main-container button:hover {
    background-color: #660066;
    transform: scale(1.2);
}

.main-container button:active {
    background-color: #330033;
    transform: scale(0.95);
}

.clock {
    font-size: 2em;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 33px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.clock::after {
    content: none;
}

.clock:hover::after {
    opacity: 1;
}

.divider {
    border: solid 0.12rem #440044;
    background-color: darkslategray;
    border-radius: 33px;
    height: 1px;
    margin: 3px 0;
    width: 81%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 12px;
    padding: 10px;
    justify-items: center;
    align-items: center;
}

.icons {
    width: 27px;
    height: 27px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}