body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container button {
    background-color: #440044;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s transform 0.3s;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 150px;
    text-align: center;
}

.main-container button:hover {
    background-color: #660066;
    transform: scale(1.05);
}

.main-container button:active {
    background-color: #330033;
    transform: scale(0.95);
}

.clock {
    font-size: 2em;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 2.1px solid #ccc;
    border-radius: 33px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.clock::after {
    content: attr(data-date);
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translate(-50%);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.clock:hover::after {
    opacity: 1;
}

.divider {
    border: solid 0.12rem #330033;
    background-color: #330033;
    border-radius: 33px;
    height: 1px;
    margin: 3px 0;
    width: 81%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat((3, auto));
    gap: 21px;
    justify-items: center;
    align-items: center;
}

.icons {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}