html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: #330033;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 99%;
  border-radius: 33px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 96%;
  height: 99%;
  text-align: center;
}

.App.footer-visible {
  padding-bottom: 12vh;
}

body.dark-mode {
  background-color: gray;
}
body.light-mode {
  background-color: lightgray;
}

.error {
  text-align: center;
  color: crimson;
  font-weight: bold;
  font-size: larger;
  margin: auto;
  padding: 18px;
}
