.clock {
    font-size: 2em;
    max-width: 45%;
    margin: 0 auto;
    padding: 18px;
    color: lightslategray;
    font-weight: bold;
    background-color: #f0f0f0;
    border: 2px solid #330033;
    border-radius: 33px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}
.clock::after {
    content: none;
}
.clock:hover::after {
    opacity: 1;
}
blink {
    animation: blink 1s infinite;
}
@keyframes blink {
    0%, 0.3% {
        opacity: 1;
    }
    0.4%, 100% {
        opacity: 0;
    }
}