.footer {
    background-color: #440044;
    padding: 1.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.footer p {
    color: lightsteelblue;
    font-weight: bold;
}

.footer a {
    color: steelblue;
    text-decoration: none;
    font-weight: bolder;
}
.footer a:hover {
    color: #c0d6f0;
    text-decoration: underline;
}