.footer {
    background-color: #440044;
    padding: 0 1.5rem 1.5rem 1.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    z-index: 100;
}
.footer.visible {
    transform: translateY(0);
}
.footer.hidden {
    transform: translateY(100%);
}

.footer p {
    color: lightsteelblue;
    font-weight: bold;
}

.footer a {
    color: steelblue;
    text-decoration: none;
    font-weight: bolder;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.footer a:hover {
    color: lightsteelblue;
    transform: scale(1.2);
}

.link {
    position: relative;
    display: inline-block;
    z-index: 100;
}
.link .link-text {
    width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px 0;
    padding: 5px 0;
    position: absolute;
    z-index: 101;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    visibility: hidden;
}
.link.active .link-text {
    visibility: visible;
    opacity: 1;
}