body {
    margin: 0;
    display: flex;
    min-height: 100vh;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 20px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 15px;
    padding: calc(21px + 2vw);
    justify-items: center;
    align-items: center;
    position: relative;
    text-align: center;
    max-height: 100%;
    overflow: auto;
}
.grid-container > * {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #555;
    border-radius: 33%;
    width: 100px;
    height: 100px;
}

.main-container button {
    background-color: lightsteelblue;
    border: none;
    border-radius: 30px;
    box-shadow: -4px 4px 6px rgba(0, 0, 0, 0.3);
}
.main-container button:hover {
    background-color: slategray;
    border: solid 1.2px #660066;
    transform: scale(1.2);
}
.main-container button:active {
    background-color: lightsteelblue;
    transform: scale(0.95);
}

.icons {
    width: 33px;
    height: 33px;
}
.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}