.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #555;
    border-radius: 33%;
    width: 100px;
    height: 100px;
    position: relative;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: all 0.3s ease;
}

body.dark-mode .grid-item {
    background-color: #999999;
}

.grid-item:hover {
    transform: scale(1.2);
    background-color: lightsteelblue;
    border: solid 2.1px #440044;
}
.grid-item.active {
    border: solid 2.1px steelblue;
    background-color: steelblue;
    transform: scale(1.2);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}
.grid-item .icons {
    width: 45px;
    height: 45px;
}
.grid-item .active-text {
    visibility: hidden;
    width: auto;
    min-width: 81px;
    background-color: #440044;
    color: lightsteelblue;
    font-weight: bold;
    text-align: center;
    border-radius: 12px;
    padding: 6px 12px;
    position: absolute;
    z-index: 2;
    bottom: 93%;
    left: 48%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
    border: solid 1px lightgray;
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.3);
    font-size: 1.2em;
}
.grid-item.active .active-text, .grid-item:hover .active-text {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 600px) {
    .grid-item.active .active-text, .grid-item:hover .active-text {
        visibility: hidden;
        opacity: 0;
    }
}