.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 21px;
    padding: calc(21px + 2vw);
    justify-items: center;
    align-items: center;
    position: relative;
    text-align: center;
    max-height: 100%;
    overflow: auto;
    z-index: 1;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
}

@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 15px;
    }
}
@media (max-width: 768px) {
    .grid-container {
        gap: 9px;
    }
}
