main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}

.profile {
    width: 75%;
    margin: auto;
}

.divider {
    border: solid 0.12rem lightsteelblue;
    background-color: darkslategray;
    border-radius: 33px;
    height: 1px;
    margin: 3px auto;
    width: 72%;
    box-shadow: -4px 4px 6px rgba(0, 0, 0, 0.3);
}