main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    min-width: 81px;
    background-color: #440044;
    color: lightsteelblue;
    font-weight: bold;
    text-align: center;
    border-radius: 12px;
    padding: 6px 12px;
    position: absolute;
    z-index: 9999;
    bottom: 78%;
    left: 50%;
    transform: translate(-50%);
    margin-left: 0;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
    /* box-shadow: -3px -3px 3px lightsteelblue; */
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    display: block;
    opacity: 1;
}

.grid-container {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    z-index: 1;
}
@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, auto);
    }
}
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
    }
}
@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    .tooltip:hover .tooltiptext {
        visibility: hidden;
        opacity: 0;
    }
}

.divider {
    border: solid 0.12rem lightsteelblue;
    background-color: darkslategray;
    border-radius: 33px;
    height: 1px;
    margin: 3px auto;
    width: 72%;
    box-shadow: -4px 4px 6px rgba(0, 0, 0, 0.3);
}