.music-container {
    display: flex;
    align-items: center;
    background-color: lightgray;
    margin: 15px auto;
    padding: 3px;
    height: 30px;
    gap: 12px;
    font-size: 0.72rem;
    border-top: solid 2px #f0f0f0;
    border-right: solid 2px #f0f0f0;
    border-bottom: solid 1px #f0f0f0;
    border-left: solid 1px #f0f0f0;
    box-shadow: -2px 3px 2px #333;
    border-radius: 45px;
}
.music-container.active {
    color: #222222;
    background-color: slategray;
    cursor: pointer;
    border-top: solid 1px lightsteelblue;
    border-right: solid 1px lightsteelblue;
    border-bottom: solid 2px lightsteelblue;
    border-left: solid 2px lightsteelblue;
    box-shadow: -3px 3px 6px #330033;
}

body.dark-mode .music-container {
    color: #131313;
    background-color: gray;
    box-shadow: -3px 3px 3px #330033;
    border-top: solid 2px lightslategray;
    border-right: solid 2px lightslategray;
    border-bottom: solid 1px lightslategray;
    border-left: solid 1px lightslategray;
}
body.dark-mode .music-container:hover {
    color: #222;
    background-color: slategray;
    box-shadow: -3px 3px 3px #333;
    border-top: solid 1px #333;
    border-right: solid 1px #333;
    border-bottom: solid 2px #333;
    border-left: solid 2px #333;
}

.music-icon {
    vertical-align: middle;
    height: 81px;
    padding: 15px;
    margin: 0 5px;
    object-fit: cover;
}
.music-icon:hover {
    transform: scale(1.08);
}

.music-container h3 {
    font-size: 2em;
    margin: 0;
    display: inline-block;
}

.music-preview {
    position: fixed;
    background-color: lightsteelblue;
    border: 2px solid #440044;
    border-radius: 9px;
    box-shadow: -2px 2px 6px #440044;
    padding: 10px;
    font-weight: bold;
    width: 270px;
    z-index: 1000;
    pointer-events: none;
}

.preview-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
}

.music-preview h4 {
    margin: 0 0 8px;
    font-size: 18px;
    color: #333;
}
.music-preview p {
    margin: 8px 0 0;
    font-size: 15px;
    color: #330033;
}