.profile-container-grid {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    align-items: start;
    margin: auto;
    padding: 21px 33px;
    background-color: lightsteelblue;
    max-width: 90vw;
    border-radius: 33px;
}

.profile-grid-column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: flex-start;
}
.profile-grid-column.left {
    grid-column: 1;
}
.profile-main-content {
    grid-column: 2;
}
.profile-grid-column.right {
    grid-column: 3;
}

.profile-music {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.wcupa-icon {
    height: 100px;
    width: 150px;
    border: 1px solid #333;
    border-radius: 12px;
}

.bloom-icon {
    height: 62.5px;
    width: 250px;
    padding: 12px;
    border: 1px solid #333;
    border-radius: 12px;
}

@media (max-width: 900px) {
    .profile-container-grid {
        grid-template-columns: 1fr 3fr 1fr;
        gap: 1rem;
        padding: 12px 6vw;
    }

    .profile-music {
        width: 81%;
    }
}

@media (max-width: 600px) {
    .profile-container-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 6vw 2vw;
        gap: 0.5rem;
    }

    .profile-grid-column {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.9rem;
        margin-bottom: 1rem;
    }

    .profile-main-content {
        width: 100%;
    }

    .profile-music {
        width: 78%;
    }
}